
Filter Name:  <input type="text" name="" [(ngModel)] = "searchTerm">
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Email</th>
        <th scope="col">Menu</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-light" *ngFor="let team of teams | teamsList:searchTerm">
        <td>{{team.name}}</td>
        <td>{{team.city}}</td>
        <td>{{team.email}}</td>
        <td>
            <button class="btn btn-danger" (click)="removeTeam(team)">Delete</button>
            <button type="button" class="btn-sm btn-secondary" (click)="showPreview(team)">Preview</button>
        </td>
    </tr>
    </tbody>
</table>
